<div id="mySlider" class="carousel slide mb-3" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mySlider" data-slide-to="0" class="active"></li>
        <li data-target="#mySlider" data-slide-to="1"></li>
        <li data-target="#mySlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="width:820px; height:400px;">
        <div class="carousel-item active">
            <img src="/img/3.jpg" class="d-inline img-fluid" style="width:100%; height:100%;"/>
        </div>
        <div class="carousel-item">
            <img src="/img/2.jpg" class="d-inline img-fluid" style="width: 100%; height: 100%;"/>
        </div>
        <div class="carousel-item">
            <img src="/img/4.jpg" class="d-inline img-fluid" style="width: 100%; height: 100%;"/>
        </div>
    </div>
    <a href="#mySlider" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#mySlider" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>